body{
    margin: 0;
    padding: 0;
}


#footer{
    background: #03091e;
}

#footer a{
    color: white;
    text-decoration: none;
}

.text-platzi{
    color: #0ae98a;
    font-weight: 700;
    text-shadow: 0px 0px 3px #6BF8BD;
}

.text-platzi:hover{
    color:#1E2229;
    text-shadow: 0px 0px 3px #6BF8BD;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(0.7);
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0 ,0 ,0.5);
    z-index: 1;
    color: white;
}

#carousel .overlay .container, #carousel .overlay .container .row{
    height: 100%;
}

.btn-platzi{
    background: #0ae98a;
    color: black;
    font-weight: 500;
}

.btn-platzi:hover{
    background: #08BD70;
 
}

.place-time__title{
    font-size: 45px;
    letter-spacing: 3px;
    font-weight: 900;
}

.text-large{
    font-size: 45px;
    font-weight: 800;
}

.text-medium{
    font-size: 28px;
    font-weight: 800;
}

.text-small-light{
    font-size: 18px;
}

.text-small{
    font-size: 16px;
    font-weight: 700;
}

.text-small2{
    font-size: 20px;
    font-weight: 800;
}

.place-time__date{
    color: #7e00ff;
    -webkit-text-stroke: 1px #5300A7;
    text-shadow: 1px 1px 10px #5300A7;
}

.place-time__btn{
    background-color: #7e00ff;
    border: 4px solid #212529;
    border-radius: 0;
}

.place-time__btn:hover{
    background-color: #212529;
    border: 4px solid white;
}

.place-time__photo{
    object-fit: cover;
}

.place-time__photo-container{
    display: flex;
}

#subscribe-media{
    padding: 120px 0px;
}

/* Estilos en el formulario*/

input[type="text"]::placeholder{
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
    color: #cccccc;
}

input[type="text"]:focus{
    outline: 4px solid #7e00ff;
}

.formulario__btn{
    padding: 10px 40px;
    margin-top: 20px;
}

.subscribe-media__parrafo{
    margin-top: 12px;
}

.subscribe-media__formulario{
    margin-top: 12px;
}
